
.day-of-the-week-card {
    background-color: #565656;
    color: #82A3A1;

    margin: 15px 8px 15px 8px;
    border: 2pt solid #82A3A1;
    border-radius: 5pt;

    height: 450px;
    min-width: 250px;

    box-shadow: 5px 5px 10px #282c34;
}
