
.timescale-entry-bar {
    background-color: #82A3A1;
    color: #82A3A1;

    font-size: small;

    position: relative;
    display: inline-block;
    float: left;

    width: 20%;


    margin: 0 1.5% 0 1.5%;
    border: 2pt solid #82A3A1;

}
