
.new-entry-form {
    color: #36413E;

    width: 550px;
    padding: 10px;
    margin: 4% 1.5% 4% 1.5%;

    border-radius: 5pt;
    box-shadow: 5px 5px 10px #282c34;
}

.entry-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.text-fields-container {
    margin: 0 3% 0 10%;
}

.date-fields-container {
    margin: 0 10% 0 3%;
}

.new-entry-add-button {
    background-color: #565656;
    color: #82A3A1;

    width: 120px;
    padding: 5px;
    margin: 20px 0 5px;

    border-radius: 5px;
    border-color: #82A3A1;
    box-shadow: 5px 5px 10px #282c34;
}

.margin-for-mui-fields{
    margin: 7% 0 5%;
}

.MuiFormControl-root.MuiTextField-root {
    background-color: #565656;
    color: #82A3A1;
    width: 200px;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl::before {
    color: #82A3A1;
    border-bottom: 2px solid #82A3A1;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
    color: #82A3A1;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl::after{
    border-bottom: 2px solid #ADC2C1;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.Mui-error::after{
    border-bottom: 2px solid #d32f2f;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
    color: #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.Mui-selected:hover {
    background-color: #869f9d;
    color: #333333;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin:hover {
    background-color: #6C7D7C;
    color: #333333;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.Mui-selected {
    background-color: #82A3A1;
    color: #333333;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    background-color: #565656;
    color: #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today:not(.Mui-selected) {
    background-color: #565656;
    color: #82A3A1;
    border: 1px solid #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today:not(.Mui-selected):hover {
    background-color: #6C7D7C;
    color: #333333;
    border: 1px solid #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.Mui-selected {
    background-color: #82A3A1;
    color: #565656;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.Mui-selected:hover {
    will-change: background-color;
    background-color: #97b9b7;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover {
    background-color: #666666;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeSmall.MuiPickersArrowSwitcher-button {
    background-color: #565656;
    color: #82A3A1;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeSmall.MuiPickersArrowSwitcher-button:hover {
    background-color: #616A69;
    color: #333333;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiIconButton-sizeSmall.MuiPickersArrowSwitcher-button {
    background-color: #565656;
    color: #82A3A1;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiIconButton-sizeSmall.MuiPickersArrowSwitcher-button:hover {
    background-color: #616A69;
    color: #333333;
}

.css-1dozdou {
    background-color: #82A3A1;
    color: #565656;
}

.css-1n2mv2k {
    background-color: #82A3A1;
    color: #565656;
}

.MuiCalendarPicker-root {
    background-color: #82A3A1;
}

.PrivatePickersSlideTransition-root {
    background-color: #565656;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
    color: #82A3A1;
}

.MuiInput-input.MuiInputBase-input.MuiInputBase-inputAdornedEnd {
    color: #82A3A1;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary {
    color: #82A3A1;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary.MuiFormLabel-filled {
    color: #82A3A1;
}

.MuiInputAdornment-root.MuiInputAdornment-positionEnd.MuiInputAdornment-standard.MuiInputAdornment-sizeMedium {
    fill: #82A3A1;
}

.PrivatePickersYear-root.PrivatePickersYear-modeDesktop  {
    background-color: #82A3A1;
    color: #565656;
}

.PrivatePickersYear-yearButton.Mui-selected.css-m1gykc {
    background-color: #565656;
    color: #82A3A1;
}

.PrivatePickersYear-yearButton.Mui-selected.css-m1gykc:hover {
    background-color: #6C7D7C;
    color: #333333;
}

.PrivatePickersYear-yearButton.Mui-selected.css-m1gykc:focus {
    background-color: #565656;
    color: #82A3A1;
}
