
.new-entry-form {
    color: #36413E;
    width: 200px;
    padding: 10px;
}

.new-entry-input-field {
    background-color: #565656;
    color: #82A3A1;

    font-family: -apple-system, 'Helvetica Neue', sans-serif;;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4375em;

    width: 200px;
    padding: 10px;
    margin: 5px 0 5px;
    border: none;
    border-bottom: 2px solid #82A3A1;
}

.new-entry-add-button {
    background-color: #565656;
    color: #82A3A1;

    width: 100px;
    padding: 5px;
    margin: 20px 0 5px;
    border-radius: 5px;
    border-color: #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    background-color: #6C7D7C;
    color: #565656;
}

.MuiFormControl-root.MuiTextField-root {
    background-color: #565656;
    color: #82A3A1;
    width: 200px;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl::before {
    color: #82A3A1;
    border-bottom: 2px solid #82A3A1;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl {
    color: #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.Mui-selected:hover {
    background-color: #869f9d;
    color: #333333;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin:hover {
    background-color: #6C7D7C;
    color: #333333;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.Mui-selected {
    background-color: #82A3A1;
    color: #333333;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin {
    background-color: #565656;
    color: #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today:not(.Mui-selected) {
    background-color: #565656;
    color: #82A3A1;
    border: 1px solid #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today:not(.Mui-selected):hover {
    background-color: #6C7D7C;
    color: #333333;
    border: 1px solid #82A3A1;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.Mui-selected {
    background-color: #82A3A1;
    color: #565656;
}

.MuiButtonBase-root.MuiPickersDay-root.MuiPickersDay-dayWithMargin.MuiPickersDay-today.Mui-selected:hover {
    will-change: background-color;
    background-color: #97b9b7;
}

.css-bkrceb-MuiButtonBase-root-MuiPickersDay-root:hover {
    background-color: #666666;
}

.css-1dozdou {
    background-color: #82A3A1;
    color: #565656;
}

.css-1n2mv2k {
    background-color: #82A3A1;
    color: #565656;
}

.MuiCalendarPicker-root {
    background-color: #82A3A1;
}

.PrivatePickersSlideTransition-root {
    background-color: #565656;
}

.MuiSvgIcon-root.MuiSvgIcon-fontSizeMedium {
    color: #82A3A1;
}

.MuiInput-input.MuiInputBase-input.MuiInputBase-inputAdornedEnd {
    color: #82A3A1;
}

.MuiInput-root.MuiInput-underline.MuiInputBase-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
    color: #82A3A1;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary {
    color: #82A3A1;
}

.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-standard.MuiFormLabel-root.MuiFormLabel-colorPrimary.MuiFormLabel-filled {
    color: #82A3A1;
}

.MuiInputAdornment-root.MuiInputAdornment-positionEnd.MuiInputAdornment-standard.MuiInputAdornment-sizeMedium {
    fill: #82A3A1;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeEnd.MuiIconButton-sizeSmall.MuiPickersArrowSwitcher-button {
    background-color: #565656;
    color: #82A3A1;
}

.MuiButtonBase-root.MuiIconButton-root.MuiIconButton-edgeStart.MuiIconButton-sizeSmall.MuiPickersArrowSwitcher-button {
    background-color: #565656;
    color: #82A3A1;
}

.PrivatePickersYear-root.PrivatePickersYear-modeDesktop  {
    background-color: #82A3A1;
    color: #565656;
}

.PrivatePickersYear-yearButton.Mui-selected.css-m1gykc {
    background-color: #565656;
    color: #82A3A1;
}

.PrivatePickersYear-yearButton.Mui-selected.css-m1gykc:hover {
    background-color: #6C7D7C;
    color: #333333;
}


