
.schedule-entry-card {
    background-color: #565656;
    color: #82A3A1;

    margin: 4% 1.5% 0.5% 1.5%;
    border: 2pt solid #82A3A1;
    border-radius: 5pt;

    height: 150px;
    width: 300px;

    box-shadow: 5px 5px 10px #282c34;
}
