
.timescale-entry-card {
    background-color: transparent;
    color: #82A3A1;

    font-size: small;
    font-weight: bolder;

    position: relative;
    display: inline-block;
    float: left;

    width: 20px;


}

.time-info {
    font-size: smaller;
    font-weight: normal;
}


