.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #565656;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Toastify__toast-container  {
  --toastify-color-light: #565656;
  --toastify-toast-background: #565656;

  --toastify-color-dark:#565656;
  --toastify-color-info: #565656;
  --toastify-color-success: #565656;
  --toastify-color-warning: #565656;
  --toastify-color-error: #d32f2f;

  --toastify-text-color-light: #82A3A1;
  --toastify-text-color-dark: #82A3A1;

  --toastify-icon-color-info: #82A3A1;
  --toastify-icon-color-success: #82A3A1;
  --toastify-icon-color-warning: #82A3A1;
  --toastify-icon-color-error: #d32f2f;

  --toastify-text-color-warning: #d32f2f;
}

.Toastify__close-button.Toastify__close-button--light {
  color: #333333;
  opacity: unset;
}

.Toastify__toast.Toastify__toast-theme--light.Toastify__toast--error {
  color: #d32f2f;
}



