
.week-board-head {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5%;

    margin: 0 2% 2% 2%;
}

.day-picker {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
}

.start-picker-field {
    margin: 0 2% 3% 2%;
}

.select-buttons {
    background-color: #565656;
    color: #82A3A1;

    width: 120px;
    padding: 5px;


    border-radius: 5px;
    border-color: #82A3A1;
    box-shadow: 5px 5px 10px #282c34;

    margin: 20px 0 5px 0;

    cursor: pointer;
}

.week-board-outer {
    display: flex;
    flex-direction: row;
    overflow: auto;
    scroll-behavior: smooth;
}

.week-board-inner {
    display: flex;
    flex-direction: row;
}
